/* font start */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font end */
/* common css start  */
*{

}
body{
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size:16px ;
    font-weight: 400 ;
    color: #626262;
}

/* common css end  */
/* header satrt  */
header{
    padding: 35px 0;
    /* border: 1px solid greenyellow; */
}
.container{
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid red; */
}
.logo{
    margin-top: 9px;
    float:left;
    width: 15%;
    /* border: 1px solid black; */
}
.logo a{}
.logo a img{
    width: 100%;
}
.menu{
    float:right;
    width: 60%;
    /* border: 1px solid black; */
}
.menu ul{ 
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    margin: 0px 50px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom:1px solid transparent;
    transition: .33s
}
.menu ul li:last-child a{
    margin-right:0%;
}
.menu ul li a:hover{
    border-bottom: 1px solid #626262;
}
/* header end */
/* banner start */
.banner{}
.b_image{}
.b_image img{
width: 100%;
}
/* banner end */
/* nwes start */
.container2{
}
.news{
background-color:#f0f0f0;
padding: 70px;
}    
.signup{
    text-align: center;
}
.s_h1{
    color: #333333;
    margin-top: 0;
    margin-bottom: 70px;
}
.title{
}
.s_form{
    width: 400px;
    /* border: 1px solid red; */
    position: relative;
    margin: 0 auto;
}
.s_form input{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #626262;
    width: 350px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding-right: 36px;
    padding-left: 13px;
}
.s_form input:focus{
    outline: 0;
} 
.s_form button{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 18px;
    right: 0;
    

}
.s_form button img{}
.signup h1{}


/* nwes end */
